.topcolor{
	background-color: #0070C1!important;
	margin:0;
}
.leftcolor{
	background-color:#013158!important;
}

.sidebar-menu>.treeview>.treeview-menu {
		background-color: #03477f!important;
}

.sidebar-menu>.treeview>.treeview-menu .treeview-menu{
	background-color: #0573ce!important;
}

.sidebar-menu .treeview-menu>li>a{
	color:#CCCCCC ;
}

.lfFoot{
    width: 225px;
    background: none repeat scroll 0 0 #383F48;
    color: #FFFFFF;
    height: 55px;
    vertical-align: middle;
    line-height: 55px;
    
}
.navbar-custom-menu>ul>li,
.navbar-custom-menu>ul>li>a{
	background: transparent!important;
	color: #fff!important;
}

.sidebar-menu>.menu-open>a{
	background-color: #0472Cf;
	color: #fff;
}